*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .headerStyle{
  background-image: url('https://www.seoclerk.com/pics/want10687-14TZRq1388844023.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 8em;
  color: white;
  text-align: center;
} */

h1{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;

}

.navStyle li{
  list-style: none;
}
.navStyle ul{
  display: flex;
  justify-content: space-evenly;
}

.blogSyle{
  display: flex;
  border: 1px solid brown;
  border-radius: 8px;
  /* margin: 1em 30em; */
  padding: 15px;
}
.blogSyle img{
  height: 175px;
  width: 100%;
  border-radius: 8px;
}
.blogTopSec{
  width: 50%;
  margin: 5px;
}
.blogBottomSec{
  width: 50%;
  margin: 5px;
}

.blogBottomSec img{
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.authStyle{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.authStyle img{
  margin-right: 25px;
}

.cnt-img img{
  height: 175px;
}